/*css used in loggridtemp html for the table*/
  .body {
    margin: 40px;
  }
/*GridNames*/
  .rightcol {
          grid-area: rightcol;
      }

    .leftcol {
        grid-area: leftcol;
    }

    .header {
        grid-area: header;
    }
    .navibar {
        grid-area: navibar;
    }

    .footer {
        grid-area: footer;
    }

/*gridDivision*/
    .theGrid {
        display: grid;
        grid-gap: 1px;
        grid-template-columns:300px 1000px 100px;
        grid-template-areas:
        "navibar navibar navibar navibar"
        "leftcol content content rightcol"
        "footer  footer  footer footer";
        background-color: #fafaf2;
        color: #444;
       
    }

/*style of the grid boxes*/
  .outline {
    padding: 10px;
    font-size: 150%;
  }
/*style of the left hand side main content*/
  .leftcol{
    background-color: #dcb879;
  };
/*style of header and footer*/  
  .header,
  .footer {
    background-color: #2b5f75;
    color: #fafaf2;
  }
  /*right hand side content style*/
  .rightcol{
    background-color: #dcb879;
  }
 
  /*navibar activated button style*/
  .active {
    background-color: #d7b98e;
  }
  p.thicker {
    font-weight: 900;
  }
/*navibar*/
ul.navibar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dac9a6;
}
.navibar li{
	float: left;
}
.navibar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navibar li a:hover{
  background-color: #bc9f77;
}

.right-nav{
	float: right;
	padding: 15px 15px;
}
/*logo*/
.logo{
   width:150px;
  height:200%;

}