<!--Template-->
{% extends 'loggridtemp.html' %}
<!--Title-->
{% block title %}Shop{% endblock %}
<!--Content of user details-->
{% block body %}
<h3>Shop</h3>
<div class='shoppingdetails'>
<form action="{{url_for('info')}}" method='post'>
	<p>Deliver to:
	<select id="location" name="location">
		<option value="Home">Home</option>
		<option value="constore">Convenient Store</option>
	</select></p>
	<p>if convenient store:(*for home type 0)
		<input type="text" name="connum" placeholder="number"></p>
	<p>if home:(*for convenient store users type"/")
		<textarea name='address' placeholder="address"></textarea></p>
	<p>Payment Method:
		<select id="payment" name="payment">
			<option id="creditcard">Credit Card</option>
			<option id="paypal">Paypal</option></p>
		</select></p>
	<input type="submit" value='submit'>
</form>
{{msg}}
</div>
{% endblock %}